.app {
    position: absolute;
    width: 305px;
    height: 260px;
    border: 1px solid;
    background-color: rgba(182, 182, 182, 0.1);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(206, 206, 206);
}

.getDataBtn {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.weather-card {
    position: relative;
    height: 150px;
    width: 280px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 10px;
    margin-top: 15px;
}

#city {
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 7px;
    left: 10px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    width: 270px;
}

#conditions {
    position: absolute;
    top: 55px;
    color: rgba(0, 0, 0, 0.8);
    width: 265px;
    text-align: center;
}

#current-temp {
    position: absolute;
    top: 70px;
    left: 50px;
    font-size: 80px;
    font-weight: normal;
}

.min-max {
    position: absolute;
    height: 80px;
    border-left: 1px solid;
    top: 80px;
    left: 190px;
}

#min-temp {
    position: absolute;
    width: 80px;
    left: 5px;
    top: 10px;
    font-size: 18px;
}

#max-temp {
    position: absolute;
    width: 80px;
    left: 5px;
    top: 45px;
    font-size: 18px;
}

.error {
    position: relative;
    top: 40px;
    font-size: 30px;
    text-align: center;
}