@media only screen and (min-width: 900px) {
    .mobile_responsive {
        padding: 3px 9px;
    }
    
    .desktop_responsive {
        width: 60%;
    }

    .nav_elements {
        width: 15%;
    }

    aside {
        background-color: rgb(3, 0, 19);
        width: 18vw !important;
    }
}

@media only screen and (min-width: 1200px) {
    .desktop_responsive {
        width: 60%;
    }

    .nav_elements {
        width: 15%;
    }
}